[submodule "module/rebloom"]
	ignore=all
	path = module/rebloom
	url = https://github.com/RedisLabsModules/rebloom.git
[submodule "module/redis-fpn"]
	ignore=all
	path = module/redis-fpn
	url = https://github.com/infobip/redis-fpn.git
[submodule "module/zpop"]
	ignore=all
	path = module/zpop
	url = https://github.com/itamarhaber/zpop.git
[submodule "module/redis-roaring"]
	ignore=all
	path = module/redis-roaring
	url = https://github.com/aviggiano/redis-roaring.git
[submodule "plugins/dynomite"]
	ignore=all
	path = plugins/dynomite
	url = https://github.com/Netflix/dynomite.git
[submodule "module/redisGraph"]
	path = module/redisGraph
	ignore=all
	url = https://github.com/RedisLabsModules/RedisGraph.git
[submodule "plugins/RedisShake"]
	path = plugins/RedisShake
	ignore=all
	url = https://github.com/alibaba/RedisShake.git
[submodule "plugins/Redis-full-check"]
	path = plugins/Redis-full-check
	ignore=all
	url = https://github.com/alibaba/RedisFullCheck.git
[submodule "plugins/overlord"]
	path = plugins/overlord
	ignore=all
	url = https://github.com/bilibili/overlord.git
